<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lembrete</title>
</head>
<body>
    <div>
        <h1>Lembrete</h1>
        <form action="/insertLembrete" method="post">
            <input id="lembrete" type="text" placeholder="Nome Lemre">
            <input id="data" type="date">
            <button type="submit">criar</button>
        </form>
        

    
    </div>
</body>
</html>