<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lembrete</title>
</head>
<body>


    <div>
        <h1>Novo Lembrete</h1>
        <form action="/criarLembrete" method="post">
            <input id="nome" name="nome" type="text" placeholder="Nome do lembrete">
            <input id="data" name="data" type="date" placeholder="Data do lembrete(no formato dd/mm/yyyy)">
            <button type="submit"> criar</button>
        </form>
    </div>

    <br>
    <br><br>
    <div>
        <ul>
            <% getLembrete.forEach((lembrete) => { %>
                <li>
                    <%= lembrete.nome %>
                </li>
            <% }) %>
        </ul>
        
    </div>
    <button><a href="/conferir">conferir</a></button>



</body>
</html>